asgiref==3.11.1
brotli==1.2.0
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
cssselect2==0.9.0
Django==6.0.2
django-bootstrap5==26.2
fontawesomefree==6.6.0
fonttools==4.61.1
gunicorn==25.1.0
html5lib==1.1
packaging==26.0
pillow==12.1.1
pycparser==3.0
pydyf==0.12.1
pyphen==0.17.2
reportlab==4.4.10
six==1.17.0
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.0.0
weasyprint==68.1
webencodings==0.5.1
zopfli==0.4.1
