{% extends "base.html" %}

{% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'lager/base.css' %}">
{% endblock %}

{% block content %}
<content>
    <p></p>
    <p></p>
    <form action="" method="post">
      {% csrf_token %}
      <div class="container">
          <div class="form-group row">
              <div class="col-sm-4">&nbsp;</div>
              {% if form.email.errors %}
              <div class="col-sm-4">{{ form.email.errors }}</div>
              {% endif %}
              <div class="col-sm-4">&nbsp;</div>
          </div>
          <div class="form-group row">
              <div class="col-sm-3">&nbsp;</div>
              <div class="col-sm-3">Bitte die hinterlegte E-Mail Adresse eingeben:</div>
              <div class="col-sm-2">{{ form.email }}</div>
              <div class="col-sm-4">&nbsp;</div>
          </div>
          <div class="form-group row">
              <div class="col-sm-4">&nbsp;</div>
              <div class="col-sm-2">&nbsp;</div>
              <div class="col-sm-2"><input type="submit" class="btn btn-primary" value="Passwort zurücksetzen"></div>
              <div class="col-sm-4">&nbsp;</div>
          </div>
          <div class="form-group row">
              <div class="col-sm-4">&nbsp;</div>
              <div class="col-sm-2">&nbsp;</div>
              <div class="col-sm-2"><a href="{% url 'login' %}">Zur Login-Seite</a></div>
              <div class="col-sm-4">&nbsp;</div>
          </div>
      </div>
  </form>
</content>
{% endblock %}