body{
  position: relative;
}
main{
  margin-bottom: 220px;
}

footer {
  background: #A20A0A;
  height: 60px;
}


.margin-bottom {
    margin-bottom:15px;
}

.inline {
    display: inline;
}

a {
  color: rgb(60, 60, 60);
}

