{% extends "base.html" %}

{% block extrahead %}

{% endblock %}

{% block title %}
    Mein Weinkeller - Erzeuger
{% endblock %}

{% block content %}

<div class="container container-extended">
    <p></p>
        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
                <a href="{% url 'lager:add_erzeuger' %}" class="btn btn-secondary">Neuen Erzeuger anlegen</a>
            </div>
        </div>
    <p></p>
    <h2>Liste der Erzeuger</h2>
    <table class="table">
    <thead>
      <tr>
        <th>Erzeuger</th>
        <th>Inhaber</th>
          <th>Ort</th>
          <th>Land</th>
          <th>Website</th>
      </tr>
    </thead>
          <tbody>
            {% for erzeuger in erzeugers_list %}
              <tr>
                  <td>{{erzeuger.name}}</td>
                  <td>{{erzeuger.inhaber}}</td>
                  <td>{{erzeuger.ort}}</td>
                  <td>{{erzeuger.land}}</td>
                  <td><a class="links" href="{{erzeuger.website}}" target="_blank">{{erzeuger.website}}</a></td>
                  <td>
                      <a href="{% url 'lager:edit_erzeuger' erzeuger.id %}" class="link-secondary"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a>
                      <a href="{% url 'lager:erzeuger' erzeuger.id %}" class="link-secondary"><i class="fa-sharp fa-solid fa-eye" title="anzeigen"></i></a>
                  </td>
              </tr>
            {% endfor %}
    </tbody>
    </table>
</div>
</div>
{% endblock %}