{% extends "base.html" %}

{% block title %}
    Mein Weinkeller - Erzeuger {{ erzeuger.name }}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <p></p>
    <div class="row">
        <div class="col">
            <a href="{% url 'lager:list_erzeugers' %}" class="btn btn-secondary">Liste Erzeuger</a>
        </div>
        <div class="col">
            <a href="{% url 'lager:add_erzeuger' %}" class="btn btn-secondary">Erzeuger anlegen</a>
        </div>
        <div class="col">
            <a href="{% url 'lager:edit_erzeuger' erzeuger.id %}" class="btn btn-secondary">Erzeuger ändern</a>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-sm">
            <h4>Erzeuger</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <div class="small inline">Erzeuger:</div>
        </div>
        <div class="col-6">
             <strong>{{ erzeuger.name }}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="small inline">Inhaber:</div>
        </div>
        <div class="col-6">
             <strong>{{ erzeuger.inhaber }}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="small inline">Adresse:</div>
        </div>
        <div class="col-sm-6">
             <strong>{{ erzeuger.strasse }}{% if erzeuger.plz %},{% endif %} {{ erzeuger.plz }} {{ erzeuger.ort }}{% if erzeuger.land %},{% endif %} {{ erzeuger.land }}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="small inline">Telefon:</div>
        </div>
        <div class="col-sm-6">
             <strong>{{ erzeuger.telefon }}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="small inline">E-Mail:</div>
        </div>
        <div class="col-sm-6">
             <strong><a class="text-body" href="mailto:{{ erzeuger.email }}"> {{ erzeuger.email }}</a></strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="small inline">Website:</div>
        </div>
        <div class="col-sm-6">
            <strong><a class="text-body" href="{{ erzeuger.website }}" target="_blank">{{ erzeuger.website }}</a></strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="small inline">Ansprechpartner:</div>
        </div>
        <div class="col-sm-6">
             <strong>{{ erzeuger.ansprechpartner }}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="small inline">Telefon des Asp:</div>
        </div>
        <div class="col-sm-6">
             <strong>{{ erzeuger.asp_telefon }}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="small inline">E-Mail des Asp:</div>
        </div>
        <div class="col-sm-6">
            <strong><a class="text-body" href="mailto:{{ erzeuger.asp_email }}">{{ erzeuger.asp_email }}</a></strong>
        </div>
    </div>

</div>
{% endblock %}