{% extends "base.html" %}

{% block title %}
    Mein Weinkeller - Rebsorten
{% endblock %}

{% block content %}

<div class="container-fluid">
    <p></p>
        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
                <a href="{% url 'lager:add_rebsorte' %}" class="btn btn-secondary">Neue Rebsorte anlegen</a>
            </div>
        </div>
    <p></p>
    <h2>Liste der Rebsorten</h2>
    <table class="table table-hover">
    <thead>
      <tr>
          <th class="col-3">Rebsorte</th>
          <th class="col-5">Alias-Namen</th>
          <th class="col-2">Art der Traube</th>
          <th class="col-2"></th>
      </tr>
    </thead>
          <tbody>
            {% for rebsorte in rebsorten_list %}
              <tr>
                  <td>{{rebsorte.rebsorte}}</td>
                  <td>{{rebsorte.rebsorte_alias}}</td>
                  <td>{{rebsorte.traubenart}}</td>
                  <td>
                      <a href="{% url 'lager:edit_rebsorte' rebsorte.id %}" class="p-1 link-secondary"><i class="fa-sharp fa-solid fa-pen-to-square" title="ändern"></i></a>
                      <a href="{% url 'lager:rebsorte' rebsorte.id %}" class="p-1 link-secondary"><i class="fa-sharp fa-solid fa-eye" title="anzeigen"></i></a>
                      <a href="{% url 'lager:delete_rebsorte_item' rebsorte.id %}" class="p-1 link-secondary"><i class="fa-sharp fa-solid fa-trash-can" title="löschen"></i></a>
                 </td>
              </tr>
            {% endfor %}
    </tbody>
    </table>
</div>
</div>
{% endblock %}