{% extends "base.html" %}

{% block title %}
    Mein Weinkeller - Weinland {{ rebsorte.rebsorte }}
{% endblock %}

{% block content %}

<div class="container container_extend">
    <p></p>
    <div class="row">
        <div class="col">
            <a href="{% url 'lager:list_rebsorten' %}" class="btn btn-secondary">Rebsorten</a>
        </div>
        <div class="col">
            <a href="{% url 'lager:add_rebsorte' %}" class="btn btn-secondary">anlegen</a>
        </div>
        <div class="col">
            <a href="{% url 'lager:edit_rebsorte' rebsorte.id %}" class="btn btn-secondary">ändern</a>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-sm">
            <h4>Rebsorte</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="small inline">Rebsorte:</div>
        </div>
          <div class="col-9">
             <strong>{{ rebsorte.rebsorte }}</strong>
          </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="small inline">Alias:</div>
        </div>
          <div class="col-9">
             {{ rebsorte.rebsorte_alias }}
          </div>
    </div>

</div>
{% endblock %}