{% extends "base.html" %}

{% block title %}
    Mein Weinkeller - Weinland erfassen
{% endblock %}

{% block content %}
<content>
    <form method="POST" enctype="multipart/form-data" action="">
        <p></p>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.weinkeller.as_hidden }}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h4>Rebsorte erfassen oder neu anlegen:</h4>
            </div>
        </div>
        <div class="form-group row margin-bottom">
            <label for="{{ form.rebsorte.id_for_label }}" class="col-sm-2 control-label">Rebsorte:</label>
            <div class="col-sm-6">
                 {{ form.rebsorte }}
                <div class="text-danger">{{ form.rebsorte.errors }}</div>
            </div>
        </div>
        <div class="form-group row margin-bottom">
            <label for="{{ form.rebsorte_alias.id_for_label }}" class="col-sm-2 control-label">Alias-Namen:</label>
            <div class="col-sm-6">
                 {{ form.rebsorte_alias }}
                <div class="text-danger">{{ form.rebsorte_alias.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <a class="btn btn-secondary btn-sm" href="{% url 'lager:list_rebsorten' %}">zurück</a>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-secondary btn-sm">Speichern</button>
            </div>
        </div>
    </div>
    </form>
</content>
{% endblock %}


