{% extends "base.html" %}

{% block title %}
    Mein Weinkeller - Region erfassen
{% endblock %}

{% block content %}
<content>
    <form method="POST" enctype="multipart/form-data" action="">
        <p></p>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.weinkeller.as_hidden }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                {% if parameter == 'wf' %}
                    <h4>Region neu anlegen:</h4>
                    <input type="hidden" name="parameter" value="{{ parameter }}">
                {% else %}
                    <h4>Region ändern oder Neue anlegen:</h4>
                {% endif %}
            </div>
        </div>
        <div class="form-group row margin-bottom">
            <label for="{{ form.weinland.id_for_label }}" class="col-sm-2 control-label">Weinland:</label>
            <div class="col-sm-6">
                 {{ form.weinland }}
                <div class="text-danger">{{ form.weinland.errors }}</div>
            </div>
        </div>
        <div class="form-group row margin-bottom">
            <label for="{{ form.region.id_for_label }}" class="col-sm-2 control-label">Region:</label>
            <div class="col-sm-6">
                 {{ form.region }}
                <div class="text-danger">{{ form.region.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <a class="btn btn-secondary btn-sm" href="{% url 'lager:list_regionen' %}">zurück</a>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-secondary btn-sm">Speichern</button>
            </div>
        </div>
    </div>
    </form>
</content>
{% endblock %}


