{% extends "base.html" %}

{% block title %}
    Mein Weinkeller - Regionen
{% endblock %}

{% block content %}

<div class="container-fluid">
    <p></p>
        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
                <a href="{% url 'lager:add_region' %}?f=single" class="btn btn-secondary">Neue Region anlegen</a>
            </div>
        </div>
    <p></p>
    <h2>Liste der Regionen</h2>
    <table class="table table-hover">
    <thead>
      <tr>
          <th class="col">Weinland</th>
          <th class="col">Region</th>
          <th class="col"></th>
      </tr>
    </thead>
          <tbody>
            {% for region in regionen_list %}
              <tr>
                <td>{{region.weinland}}</td>
                  <td>{{region.region}}</td>
                  <td>
                      <a href="{% url 'lager:edit_region' region.id %}" class="p-1 link-secondary"><i class="fa-sharp fa-solid fa-pen-to-square" title="ändern"></i></a>
                      <a href="{% url 'lager:region' region.id %}" class="p-1 link-secondary"><i class="fa-sharp fa-solid fa-eye" title="anzeigen"></i></a>
                      <a href="{% url 'lager:delete_region_item' region.id %}" class="p-1 link-secondary"><i class="fa-sharp fa-solid fa-trash-can" title="löschen"></i></a>
                  </td>
              </tr>
            {% endfor %}
    </tbody>
    </table>
</div>
</div>
{% endblock %}