{% extends "base.html" %}

{% block title %}
    Mein Weinkeller - Wein {{ wein.name }}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <p></p>
    <div class="row">
        <div class="col">
            <a href="{% url 'lager:list_weine' %}" class="btn btn-secondary">Weine</a>
        </div>
        <div class="col">
            <a href="{% url 'lager:add_wein' %}" class="btn btn-secondary">anlegen</a>
        </div>
        <div class="col">
            <a href="{% url 'lager:edit_wein' wein.id %}" class="btn btn-secondary">ändern</a>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-sm">
            <h4>Wein</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="small inline">Name:</div>
        </div>
        <div class="col-9">
            <strong>{{ wein.name }}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="small inline">Weinland:</div>
        </div>
          <div class="col-9">
             <strong>{{ wein.weinland }}</strong>
          </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="small inline">Region:</div>
        </div>
          <div class="col-9">
             <strong>{{ wein.region }}</strong>
          </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="small inline">Weinlage:</div>
        </div>
          <div class="col-9">
             <strong>{{ wein.lage }}</strong>
          </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="small inline">Rebsorte:</div>
        </div>
          <div class="col-9">
             <strong>{{ wein.rebsorte }}</strong>
          </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="small inline">Weinart:</div>
        </div>
          <div class="col-9">
             <strong>{{ wein.weinart }}</strong>
          </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="small inline">Jahrgang:</div>
        </div>
          <div class="col-9">
             <strong>{{ wein.jahrgang }}</strong>
          </div>
    </div>
    <div class="row mb-4">
        <div class="col-3">
            <div class="small inline">Ausbau:</div>
        </div>
          <div class="col-9">
             <strong>{{ wein.geschmacksrichtung }}</strong>
          </div>
    </div>


        <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active link-secondary" data-bs-toggle="tab" href="#erzeuger">Erzeuger</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-secondary" data-bs-toggle="tab" href="#werte">Werte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-secondary" data-bs-toggle="tab" href="#bestellinfo">Bestellinfo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-secondary" data-bs-toggle="tab" href="#bemerkung">Bemerkung</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-secondary" data-bs-toggle="tab" href="#bestand">Bestand</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane container active" id="erzeuger">
          <div class="row mt-2">
            <div class="col-2"><strong>Weingut:</strong></div>
              {% if wein.erzeuger %}
                <div class="col-4">{{ wein.erzeuger }}</div>
              {% endif %}
          </div>
          <div class="row">
            <div class="col-2"><strong>Inhaber:</strong></div>
              {% if wein.erzeuger.inhaber %}
                <div class="col-4">{{ wein.erzeuger.inhaber }}</div>
              {% endif %}
          </div>
          <div class="row mt-3">
              <div class=""><strong>Adresse:</strong></div>
          </div>
          <div class="">{{ wein.erzeuger.strasse }}</div>
          <div class="">{{ wein.erzeuger.plz }} {{ wein.erzeuger.ort }}</div>
          <div class="">{{ wein.erzeuger.land }}</div>

          <div class="row mt-3">
              <div class=""><strong>Kontakt:</strong></div>
          </div>
          <div class="">{{ wein.erzeuger.telefon }}</div>
          <div class=""><a href="mailto:{{ wein.erzeuger.email }}">{{ wein.erzeuger.email }}</a></div>
          <div class=""><a href="{{ wein.erzeuger.website }}" target="_blank">{{ wein.erzeuger.website }}</a></div>

          <div class="row mt-3">
              <div class=""><strong>Ansprechpartner:</strong></div>
          </div>

          <div class="">Ansprechpartner:</div>
          <div class="">{{ wein.erzeuger.ansprechpartner }}</div>
          <div class="">{{ wein.erzeuger.asp_telefon }}</div>
          <div class=""><a href="mailto:{{ wein.erzeuger.asp_email }}">{{ wein.erzeuger.asp_email }}</a></div>


      </div>
      <div class="tab-pane container fade" id="werte">
          <div class="row mt-2">
              <div class="col-2">Alkoholgehalt: </div>
              <div class="col-4">{{ wein.alkoholgehalt }} % Vol.</div>
          </div>
          <div class="row mt-2">
              <div class="col-2">Restzucker:</div>
              <div class="col-4">{{ wein.restzucker }} g/L</div>
          </div>
          <div class="row mt-2">
              <div class="col-2">Restsäure:</div>
              <div class="col-4">{{ wein.restsaeure }} g/L</div>
          </div>
          <div class="row mt-2">
              <div class="col-2">Vegan:</div>
              <div class="col-4">
              {% if wein.vegan %}
                  Ja
              {% else %}
                  Nein
              {% endif %}
              </div>
          </div>
          <div class="row mt-2">
              <div class="col-2">A.P.Nr:</div>
              <div class="col-4">{{ wein.apnr }} </div>
          </div>
      </div>
      <div class="tab-pane container fade" id="bestellinfo">
          <div class="row mt-2">
              <div class="col-2">Preis:</div>
              <div class="col-4">{{ wein.preis }} €</div>
          </div>
          <div class="row">
              <div class="col-2">Liter-Preis:</div>
              <div class="col-4">{{ wein.literpreis }} €</div>
          </div>
          <div class="row">
              <div class="col-2">Bestellnummer:</div>
              <div class="col-4">{{ wein.bestellnummer }}</div>
          </div>
          <div class="row">
              <div class="col-2">Flaschengröße:</div>
              <div class="col-4">{{ wein.flaschengroesse }} L</div>
          </div>
      </div>
      <div class="tab-pane container fade" id="bemerkung">
          <div class="row mt-2">
              <div class=""> {{wein.bemerkung}} </div>
          </div>
      </div>
      <div class="tab-pane container fade" id="bestand">
         {% for bestand in bestands %}
          <div class="row mt-2">
              <div class="col-4">
                   Lager  "{{ bestand.lager }}":
              </div>
              <div class="col-2">
                  {{ bestand.menge }} Flasche(n)
              </div>
          </div>
         {% endfor %}
      </div>
    </div>

</div>
{% endblock %}