{% extends "base.html" %}

{% block title %}
    Mein Weinkeller - Weinland {{ weinland.land }}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <p></p>
    <div class="row">
        <div class="col">
            <a href="{% url 'lager:list_weinlands' %}" class="btn btn-secondary">Weinländer</a>
        </div>
        <div class="col">
            <a href="{% url 'lager:add_weinland' %}" class="btn btn-secondary">anlegen</a>
        </div>
        <div class="col">
            <a href="{% url 'lager:edit_weinland' weinland.id %}" class="btn btn-secondary">ändern</a>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-sm">
            <h4>Weinland</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-lg-2">
            <div class="small inline">Kontinent:</div>
        </div>
        <div class="col-9 col-lg-6">
            <strong>{{ weinland.kontinent }}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-lg-2">
            <div class="small inline">Land:</div>
        </div>
          <div class="col-9 col-lg-6">
             <strong>{{ weinland.land }}</strong>
          </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="small inline">Bemerkung:</div>
        </div>
          <div class="col-sm-6">
             {{ weinland.bemerkung }}
          </div>
    </div>
</div>
{% endblock %}