{% extends "base.html" %}

{% block title %}
    Mein Weinkeller - Weinländer
{% endblock %}

{% block content %}

<div class="container-fluid">
    <p></p>
        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
                <a href="{% url 'lager:add_weinland' %}" class="btn btn-secondary">Neues Land anlegen</a>
            </div>
        </div>
    <p></p>
    <h2>Liste der Weinländer</h2>
    <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-sm-3">Kontinent</th>
        <th class="col-sm-6">Land</th>
        <th class="col-sm-1"></th>
      </tr>
    </thead>
          <tbody>
            {% for weinland in weinlands_list %}
              <tr>
                  <td>{{weinland.kontinent}}</td>
                  <td>{{weinland.land}}</td>
                  <td class="col-sm-1">
                      <a href="{% url 'lager:edit_weinland' weinland.id %}" class="p-1 link-secondary"><i class="fa-sharp fa-solid fa-pen-to-square" title="ändern"></i></a>
                      <a href="{% url 'lager:weinland' weinland.id %}" class="p-1 link-secondary"><i class="fa-sharp fa-solid fa-eye" title="anzeigen"></i></a>
                      <a href="{% url 'lager:delete_weinland_item' weinland.id %}" class="p-1 link-secondary"><i class="fa-sharp fa-solid fa-trash-can" title="löschen"></i></a>
                  </td>
              </tr>
            {% endfor %}
    </tbody>
    </table>
</div>
</div>
{% endblock %}