<!doctype html>
<html lang="de">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% block extrahead%}{% endblock %}
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'lager/css/base.css' %}">

    {% if user.is_authenticated %}
    {% else %}
        <meta http-equiv="refresh" content="0; URL=/accounts/login/">
    {% endif %}

    {% if PRODUCTION == 'prod' %}

    {% else %}
        <meta name="Entwicklung" content="Entwicklung">
    {% endif %}

    <title>{% block title %}Mein Weinkeller{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100" onload="onloadFunction()">
    {% include "header.html" %}

    {% if user.is_authenticated %}

        {% include "nav.html" %}

        {% block content %}{% endblock %}

    {% else %}
        {% include "notlogin.html" %}
    {% endif %}

    {% include "footer.html" %}
    {% bootstrap_javascript %}
<script src="{% static 'lager/js/base.js' %}"></script>

</body>
</html>