       <footer class="mt-auto">
            <div class="row" >
                <div class="col-3">&nbsp;</div>
                <div class="col-6">
                    <div class="text-primary">
                            <a class="text-body" href="{% url 'lager:impressum'%}">Impressum</a> /
                            <a class="text-body" href="{% url 'lager:datenschutz'%}">Datenschutzerklärung</a>
                    </div>
                </div>
                <div class="col-3">Version 0.03</div>
            </div>
       </footer>