       <footer class="mt-auto">
            <div class="row" >
                <div class="col-1">&nbsp;</div>
                <div class="col-10 text-body text-center">
                    <a class="text-body" href="{% url 'lager:impressum'%}">Impressum</a> /
                    <a class="text-body" href="{% url 'lager:datenschutz'%}">Datenschutzerklärung</a>
                    <p class="small">Version 0.1</p>
                </div>
                <div class="col-1">&nbsp;</div>
                </div>
            </div>
       </footer>