       <div class="footer">
            <div class="row" >
                <div class="col-2">&nbsp;</div>
                <div class="col-8">
                    <div class="text-white">
                            <a class="text-white" href="{% url 'lager:impressum'%}">Impressum</a> /
                            <a class="text-white" href="{% url 'lager:datenschutz'%}">Datenschutzerklärung</a>
                    </div>
                </div>
                <div class="col-2">

                </div>
            </div>
       </div>